html, body, #root, .content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

canvas {
    background: #000;
    flex: 1;
}